@use '@mercedes-benz/productkit-core/dist/web/styles/mbti/scss/variables' as tokens;

.v-application.v-theme--light,
.v-overlay-container {
  .mbti-brand-btn {
    &.v-btn--variant-outlined.text-primary,
    &.v-btn--variant-tonal.text-primary,
    &.v-btn--variant-text.text-primary,
    &.v-btn--variant-plain.text-primary {
      color: tokens.$color-application-primary-variant !important;
      border-color: tokens.$color-application-primary-variant !important;
    }

    &.v-btn--disabled.bg-primary {
      color: tokens.$color-application-primary-variant !important;
    }
  }
}
