@use '@mercedes-benz/productkit-core/dist/web/styles/mbti/scss/variables' as tokens;

/* SCREEN SIZE S */
@media screen and (min-width: tokens.$size-screen-platform-s) {
  .v-container {
    .v-row:not(.v-row--no-gutters) {
      margin: calc(-1 * tokens.$layout-application-compact-s-gutter-size / 2);
    }
    .v-row:not(.v-row--no-gutters) > * {
      padding: calc(tokens.$layout-application-compact-s-gutter-size / 2);
    }
  }
  .v-container:not(.v-container--fluid) {
    width: tokens.$layout-application-compact-s-content-width;
    .v-row:not(.v-row--no-gutters) {
      margin: calc(-1 * tokens.$layout-application-wide-s-gutter-size / 2);
    }
    .v-row:not(.v-row--no-gutters) > * {
      padding: calc(tokens.$layout-application-wide-s-gutter-size / 2);
    }
  }
}

/* SCREEN SIZE M */
@media screen and (min-width: tokens.$size-screen-platform-m) {
  .v-container {
    .v-row:not(.v-row--no-gutters) {
      margin: calc(-1 * tokens.$layout-application-compact-m-gutter-size / 2);
    }
    .v-row:not(.v-row--no-gutters) > * {
      padding: calc(tokens.$layout-application-compact-m-gutter-size / 2);
    }
  }
  .v-container:not(.v-container--fluid) {
    width: tokens.$layout-application-compact-m-content-width;
    .v-row:not(.v-row--no-gutters) {
      margin: calc(-1 * tokens.$layout-application-wide-m-gutter-size / 2);
    }
    .v-row:not(.v-row--no-gutters) > * {
      padding: calc(tokens.$layout-application-wide-m-gutter-size / 2);
    }
  }
}

/* SCREEN SIZE L */
@media screen and (min-width: tokens.$size-screen-platform-l) {
  .v-container {
    .v-row:not(.v-row--no-gutters) {
      margin: calc(-1 * tokens.$layout-application-compact-l-gutter-size / 2);
    }
    .v-row:not(.v-row--no-gutters) > * {
      padding: calc(tokens.$layout-application-compact-l-gutter-size / 2);
    }
  }
  .v-container:not(.v-container--fluid) {
    width: tokens.$layout-application-compact-l-content-width;
    .v-row:not(.v-row--no-gutters) {
      margin: calc(-1 * tokens.$layout-application-wide-l-gutter-size / 2);
    }
    .v-row:not(.v-row--no-gutters) > * {
      padding: calc(tokens.$layout-application-wide-l-gutter-size / 2);
    }
  }
}

/* SCREEN SIZE XL */
@media screen and (min-width: tokens.$size-screen-platform-xl) {
  .v-container {
    .v-row:not(.v-row--no-gutters) {
      margin: calc(-1 * tokens.$layout-application-compact-xl-gutter-size / 2);
    }
    .v-row:not(.v-row--no-gutters) > * {
      padding: calc(tokens.$layout-application-compact-xl-gutter-size / 2);
    }
  }
  .v-container:not(.v-container--fluid) {
    width: tokens.$layout-application-compact-xl-content-width;
    .v-row:not(.v-row--no-gutters) {
      margin: calc(-1 * tokens.$layout-application-wide-xl-gutter-size / 2);
    }
    .v-row:not(.v-row--no-gutters) > * {
      padding: calc(tokens.$layout-application-wide-xl-gutter-size / 2);
    }
  }
}

/* SCREEN SIZE XXL */
@media screen and (min-width: tokens.$size-screen-platform-xxl) {
  .v-container {
    .v-row:not(.v-row--no-gutters) {
      margin: calc(-1 * tokens.$layout-application-compact-xxl-gutter-size / 2);
    }
    .v-row:not(.v-row--no-gutters) > * {
      padding: calc(tokens.$layout-application-compact-xxl-gutter-size / 2);
    }
  }
  .v-container:not(.v-container--fluid) {
    width: tokens.$layout-application-compact-xxl-content-width;
    .v-row:not(.v-row--no-gutters) {
      margin: calc(-1 * tokens.$layout-application-wide-xxl-gutter-size / 2);
    }
    .v-row:not(.v-row--no-gutters) > * {
      padding: calc(tokens.$layout-application-wide-xxl-gutter-size / 2);
    }
  }
}
