@use '@mercedes-benz/productkit-core/dist/web/styles/mbti/scss/variables' as tokens;

@use 'vuetify' with (
  $typography: (
    'h1': (
      'size': var(--v-pk-heading1-font-size),
      'weight': tokens.$font-application-s-headline1-font-weight,
      'line-height': var(--v-pk-heading1-line-height),
      'letter-spacing': tokens.$font-application-s-headline1-letter-spacing,
      'font-family': tokens.$font-application-s-headline1-font-family,
      'text-transform': tokens.$font-application-s-headline1-text-transform,
    ),
    'h2': (
      'size': var(--v-pk-heading2-font-size),
      'weight': tokens.$font-application-s-headline2-font-weight,
      'line-height': var(--v-pk-heading2-line-height),
      'letter-spacing': tokens.$font-application-s-headline2-letter-spacing,
      'font-family': tokens.$font-application-s-headline2-font-family,
      'text-transform': tokens.$font-application-s-headline2-text-transform,
    ),
    'h3': (
      'size': var(--v-pk-heading3-font-size),
      'weight': tokens.$font-application-s-headline3-font-weight,
      'line-height': var(--v-pk-heading3-line-height),
      'letter-spacing': tokens.$font-application-s-headline3-letter-spacing,
      'font-family': tokens.$font-application-s-headline3-font-family,
      'text-transform': tokens.$font-application-s-headline3-text-transform,
    ),
    'h4': (
      'size': var(--v-pk-heading4-font-size),
      'weight': tokens.$font-application-s-headline4-font-weight,
      'line-height': var(--v-pk-heading4-line-height),
      'letter-spacing': tokens.$font-application-s-headline4-letter-spacing,
      'font-family': tokens.$font-application-s-headline4-font-family,
      'text-transform': tokens.$font-application-s-headline4-text-transform,
    ),
    'h5': (
      'size': var(--v-pk-heading5-font-size),
      'weight': tokens.$font-application-s-headline5-font-weight,
      'line-height': var(--v-pk-heading5-line-height),
      'letter-spacing': tokens.$font-application-s-headline5-letter-spacing,
      'font-family': tokens.$font-application-s-headline5-font-family,
      'text-transform': tokens.$font-application-s-headline5-text-transform,
    ),
    'h6': (
      'size': var(--v-pk-heading6-font-size),
      'weight': tokens.$font-application-s-headline6-font-weight,
      'line-height': var(--v-pk-heading6-line-height),
      'letter-spacing': tokens.$font-application-s-headline6-letter-spacing,
      'font-family': tokens.$font-application-s-headline6-font-family,
      'text-transform': tokens.$font-application-s-headline6-text-transform,
    ),
    'subtitle-1': (
      'size': var(--v-pk-subtitle1-font-size),
      'weight': tokens.$font-application-s-subtitle1-font-weight,
      'line-height': var(--v-pk-subtitle1-line-height),
      'letter-spacing': tokens.$font-application-s-subtitle1-letter-spacing,
      'font-family': tokens.$font-application-s-subtitle1-font-family,
      'text-transform': tokens.$font-application-s-subtitle1-text-transform,
    ),
    'subtitle-1-strong': (
      'size': var(--v-pk-subtitle1-font-size),
      'weight': tokens.$font-application-s-subtitle1-strong-font-weight,
      'line-height': var(--v-pk-subtitle1-strong-line-height)-height,
      'letter-spacing': tokens.$font-application-s-subtitle1-strong-letter-spacing,
      'font-family': tokens.$font-application-s-subtitle1-strong-font-family,
      'text-transform': tokens.$font-application-s-subtitle1-strong-text-transform,
    ),
    'subtitle-2': (
      'size': var(--v-pk-subtitle2-font-size),
      'weight': tokens.$font-application-s-subtitle2-font-weight,
      'line-height': var(--v-pk-subtitle2-line-height),
      'letter-spacing': tokens.$font-application-s-subtitle2-letter-spacing,
      'font-family': tokens.$font-application-s-subtitle2-font-family,
      'text-transform': tokens.$font-application-s-subtitle2-text-transform,
    ),
    'subtitle-2-strong': (
      'size': var(--v-pk-subtitle2-font-size),
      'weight': tokens.$font-application-s-subtitle2-strong-font-weight,
      'line-height': var(--v-pk-subtitle2-strong-line-height)-height,
      'letter-spacing': tokens.$font-application-s-subtitle2-strong-letter-spacing,
      'font-family': tokens.$font-application-s-subtitle2-strong-font-family,
      'text-transform': tokens.$font-application-s-subtitle2-strong-text-transform,
    ),
    'body-1': (
      'size': var(--v-pk-body1-font-size),
      'weight': tokens.$font-application-s-body1-font-weight,
      'line-height': var(--v-pk-body1-line-height),
      'letter-spacing': tokens.$font-application-s-body1-letter-spacing,
      'font-family': tokens.$font-application-s-body1-font-family,
      'text-transform': tokens.$font-application-s-body1-text-transform,
    ),
    'body-1-strong': (
      'size': var(--v-pk-body1-font-size),
      'weight': tokens.$font-application-s-body1-strong-font-weight,
      'line-height': var(--v-pk-body1-strong-line-height)-height,
      'letter-spacing': tokens.$font-application-s-body1-strong-letter-spacing,
      'font-family': tokens.$font-application-s-body1-strong-font-family,
      'text-transform': tokens.$font-application-s-body1-strong-text-transform,
    ),
    'body-2': (
      'size': var(--v-pk-body2-font-size),
      'weight': tokens.$font-application-s-body2-font-weight,
      'line-height': var(--v-pk-body2-line-height),
      'letter-spacing': tokens.$font-application-s-body2-letter-spacing,
      'font-family': tokens.$font-application-s-body2-font-family,
      'text-transform': tokens.$font-application-s-body2-text-transform,
    ),
    'body-2-strong': (
      'size': var(--v-pk-body2-font-size),
      'weight': tokens.$font-application-s-body2-strong-font-weight,
      'line-height': var(--v-pk-body2-strong-line-height)-height,
      'letter-spacing': tokens.$font-application-s-body2-strong-letter-spacing,
      'font-family': tokens.$font-application-s-body2-strong-font-family,
      'text-transform': tokens.$font-application-s-body2-strong-text-transform,
    ),
    'button': (
      'size': var(--v-pk-button-font-size),
      'weight': var(--v-pk-button-font-weight),
      'line-height': var(--v-pk-button-line-height),
      'letter-spacing': tokens.$font-application-s-button-letter-spacing,
      'font-family': tokens.$font-application-s-button-font-family,
      'text-transform': tokens.$font-application-s-button-text-transform,
    ),
    'caption': (
      'size': var(--v-pk-caption-font-size),
      'weight': tokens.$font-application-s-caption-font-weight,
      'line-height': var(--v-pk-caption-line-height),
      'letter-spacing': tokens.$font-application-s-caption-letter-spacing,
      'font-family': tokens.$font-application-s-caption-font-family,
      'text-transform': tokens.$font-application-s-caption-text-transform,
    ),
    'overline': (
      'size': var(--v-pk-overline-font-size),
      'weight': tokens.$font-application-s-overline-font-weight,
      'line-height': var(--v-pk-overline-line-height),
      'letter-spacing': tokens.$font-application-s-overline-letter-spacing,
      'font-family': tokens.$font-application-s-overline-font-family,
      'text-transform': tokens.$font-application-s-overline-text-transform,
    ),
  )
);

.v-application.v-theme--light,
.v-application.v-theme--dark,
.v-overlay-container {
  @media only screen and (min-width: 1024px) {
    /* font-size  */
    --v-pk-heading1-font-size: #{tokens.$font-application-l-headline1-font-size};
    --v-pk-heading2-font-size: #{tokens.$font-application-l-headline2-font-size};
    --v-pk-heading3-font-size: #{tokens.$font-application-l-headline3-font-size};
    --v-pk-heading4-font-size: #{tokens.$font-application-l-headline4-font-size};
    --v-pk-heading5-font-size: #{tokens.$font-application-l-headline5-font-size};
    --v-pk-heading6-font-size: #{tokens.$font-application-l-headline6-font-size};
    --v-pk-subtitle1-font-size: #{tokens.$font-application-l-subtitle1-font-size};
    --v-pk-subtitle1-strong-font-size: #{tokens.$font-application-l-subtitle1-strong-font-size};
    --v-pk-subtitle2-font-size: #{tokens.$font-application-l-subtitle2-font-size};
    --v-pk-subtitle2-strong-font-size: #{tokens.$font-application-l-subtitle2-strong-font-size};
    --v-pk-body1-font-size: #{tokens.$font-application-l-body1-font-size};
    --v-pk-body1-strong-font-size: #{tokens.$font-application-l-body1-strong-font-size};
    --v-pk-body2-font-size: #{tokens.$font-application-l-body2-font-size};
    --v-pk-body2-strong-font-size: #{tokens.$font-application-l-body2-strong-font-size};
    --v-pk-button-font-size: #{tokens.$font-application-l-button-font-size};
    --v-pk-caption-font-size: #{tokens.$font-application-l-caption-font-size};
    --v-pk-overline-font-size: #{tokens.$font-application-l-overline-font-size};

    /* line-height */
    --v-pk-heading1-line-height: #{tokens.$font-application-l-headline1-line-height};
    --v-pk-heading2-line-height: #{tokens.$font-application-l-headline2-line-height};
    --v-pk-heading3-line-height: #{tokens.$font-application-l-headline3-line-height};
    --v-pk-heading4-line-height: #{tokens.$font-application-l-headline4-line-height};
    --v-pk-heading5-line-height: #{tokens.$font-application-l-headline5-line-height};
    --v-pk-heading6-line-height: #{tokens.$font-application-l-headline6-line-height};
    --v-pk-subtitle1-line-height: #{tokens.$font-application-l-subtitle1-line-height};
    --v-pk-subtitle1-strong-line-height: #{tokens.$font-application-l-subtitle1-strong-line-height};
    --v-pk-subtitle2-line-height: #{tokens.$font-application-l-subtitle2-line-height};
    --v-pk-subtitle2-strong-line-height: #{tokens.$font-application-l-subtitle2-strong-line-height};
    --v-pk-body1-line-height: #{tokens.$font-application-l-body1-line-height};
    --v-pk-body1-strong-line-height: #{tokens.$font-application-l-body1-strong-line-height};
    --v-pk-body2-line-height: #{tokens.$font-application-l-body2-line-height};
    --v-pk-body2-strong-line-height: #{tokens.$font-application-l-body2-strong-line-height};
    --v-pk-button-line-height: #{tokens.$font-application-l-button-line-height};
    --v-pk-caption-line-height: #{tokens.$font-application-l-caption-line-height};
    --v-pk-overline-line-height: #{tokens.$font-application-l-overline-line-height};
  }
}

.v-application.v-theme--light,
.v-overlay-container {
  .text-overline {
    color: #{tokens.$color-application-primary-variant};
  }
}
